.summaries__wrapper {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.summaries__card {
	border: 1px solid #333;
	border-radius: 0.25em;
	padding: 0.5rem 2rem;
	text-align: center;
}

.summaries__card--title {
	font-size: 1.25rem;
}

.summaries__card--title span {
	font-weight: 700;
	color: royalblue;
}

.summaries__card-table {
	font-size: 0.875rem;
	text-align: center;
}

.summaries__card-table caption {
	margin-bottom: 0.5rem;
}

.summaries__card-link {
	font-size: 0.875rem;
	margin-top: 1rem;
}

.summaries__card--list {
	padding: 0;
	margin: 1rem;
	text-align: left;
	font-size: 0.875rem;
	list-style-type: none;
}

.summaries__card--list-item {
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #333;
}

.tool__card {
	padding: 1rem;
	border: 1px solid #333;
	border-radius: 0.5em;
}

.tool__card h3 {
	margin: 0;
}
