.summaries {
}

.summaries__wrapper {
	display: flex;
	gap: 1rem;
}

.summaries__card {
	border: 1px solid #333;
	border-radius: 0.25em;
	padding: 0.5rem;
	text-align: center;
	display: grid;
	align-items: center;
}

.summaries__card p {
	font-size: 1.25rem;
}

.summaries__card p span {
	font-weight: 700;
	color: royalblue;
}

.summaries__card-table {
	font-size: 0.875rem;
	text-align: center;
}

.summaries__card-table caption {
	margin-bottom: 0.5rem;
}

.summaries__card-link {
	font-size: 0.875rem;
	margin-top: 1rem;
}
