.summaries__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 1rem;
}

.summaries__card {
	border: 1px solid var(--clr-neutral-300);
	border-radius: 0.25em;
	padding: 0.5rem 2rem;
	text-align: center;
}

.summaries__card--title {
	font-size: 1.25rem;
}

.summaries__card--title span {
	font-weight: 700;
	color: var(--clr-blue-400);
}

.summaries__card--info {
	font-size: 0.875rem;
	font-weight: 500;
	text-align: left;
}

.summaries__card--info span {
	color: var(--text-clr);
	font-weight: 700;
}

.summaries__card > .select__interval {
	font-size: 0.875rem;
}

.summaries__card > .select__interval select {
	padding: 0.15em 0;
}

.summaries__card > .select__interval select option {
	font-size: 0.875rem;
}

.summaries__card-link {
	font-size: 0.875rem;
	margin-top: 1rem;
}
