*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

img {
	max-width: 100%;
	display: block;
}

main {
	max-width: 1200px;
	width: 100%;
	margin-inline: auto;
	padding-inline: 1rem;
	flex: 1;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

select {
	width: 100%;
	padding: 0.25em 0.5em;
	font: inherit;
}

textarea {
	width: 100%;
	resize: none;
}

.form-container {
	max-width: 600px;
	margin: auto;
	padding: 20px 50px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form-group {
	margin-bottom: 15px;
}

.page__section {
	padding: 1rem 3rem;
}

.page__title {
	font-size: 1.75rem;
	color: #333;
	text-align: center;
}

.header__actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.buttons-group {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.buttons-group__checkbox {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}

.buttons-group__checkbox label {
	margin: 0;
}

.filter__wrapper {
	margin-block: 1rem;
}
