:root {
	--clr-neutral-100: #fff;
	--clr-neutral-150: #efefef;
	--clr-neutral-300: #ccc;
	--clr-neutral-700: #333;
	--clr-neutral-800: #0c0c0c;
	--clr-neutral-900: #000;

	--clr-blue-400: hsl(225, 73%, 57%);
	--clr-blue-500: hsl(225, 73%, 47%);
	--clr-blue-600: hsl(225, 73%, 27%);

	--clr-red-400: hsl(348, 83%, 47%);
	--clr-red-500: hsl(348, 83%, 37%);
	--clr-red-600: hsl(348, 83%, 27%);

	--clr-green-400: hsl(120, 61%, 34%);

	--shadow-100: rgba(0, 0, 0, 0.1);
	--shadow-800: rgba(0, 0, 0, 0.8);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
	color: var(--clr-neutral-800);
	background-color: var(--clr-neutral-100);
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

img {
	max-width: 100%;
	display: block;
}

main {
	max-width: 1200px;
	width: 100%;
	margin-inline: auto;
	padding-inline: 1rem;
	flex: 1;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid var(--clr-neutral-300);
	border-radius: 5px;
}

select {
	width: 100%;
	padding: 0.25em 0.5em;
	font: inherit;
}

textarea {
	width: 100%;
	resize: none;
}

.form-container {
	max-width: 600px;
	margin: auto;
	padding: 20px 50px;
	border: 1px solid var(--clr-neutral-300);
	border-radius: 5px;
}

.form-group {
	margin-bottom: 15px;
}

.page__section {
	padding: 1rem 3rem;
}

.page__title {
	font-size: 1.75rem;
	color: var(--clr-neutral-700);
	text-align: center;
}

.header__actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.buttons-group {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.buttons-group__checkbox {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}

.buttons-group__checkbox label {
	margin: 0;
}

.filter__wrapper {
	margin-block: 1rem;
}
