.data-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid var(--clr-neutral-300);
}

.data-table[data-size='small'] {
	font-size: 0.875rem;
}

.data-table th,
.data-table td {
	border: 1px solid var(--clr-neutral-300);
	padding: 0.25em 1em;
	text-align: center;
}

.data-table tr[data-type='income'] {
	color: var(--clr-green-400);
}

.data-table tr[data-type='expense'] {
	color: var(--clr-red-400);
}

.data-table caption {
	margin-block: 0.5rem;
}
