.data-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.data-table[data-size='small'] {
	font-size: 0.875rem;
}

.data-table th,
.data-table td {
	border: 1px solid #ccc;
	padding: 0.25em 1em;
	text-align: center;
}

.data-table tr[data-type='income'] {
	color: hsl(120, 61%, 34%);
}

.data-table tr[data-type='expense'] {
	color: hsl(348, 83%, 47%);
}

.data-table caption {
	margin-block: 0.5rem;
}
