.btn {
	display: inline-block;
	font-family: system-ui, sans-serif;
	font-size: 1rem;

	margin: 0.25rem;
	padding: 0.5em 1em;
	border: none;
	border-radius: 0.25em;
	outline: none;

	background-color: var(--clr-blue-400);
	color: var(--clr-neutral-100);

	cursor: pointer;
}

.btn:is(:hover, :focus-visible) {
	background-color: var(--clr-blue-500);
}

.btn:focus-visible {
	outline: 2px solid var(--clr-blue-600);
	outline-offset: 1px;
}

.btn[data-type='danger'] {
	background-color: var(--clr-red-400);
}

.btn[data-type='danger']:is(:hover, :focus-visible) {
	background-color: var(--clr-red-500);
}

.btn[data-type='danger']:focus-visible {
	outline: 2px solid var(--clr-red-600);
	outline-offset: 1px;
}

.btn[data-size='small'] {
	font-size: 0.875rem;
	padding: 0.25em 1em;
}

.btn:disabled {
	background-color: var(--clr-neutral-300);
	cursor: not-allowed;
}
