.btn-link {
	display: inline-block;

	margin: 0.25rem;
	padding: 0.5em 1em;
	border: none;
	border-radius: 0.25em;
	outline: none;

	background-color: var(--clr-blue-400);
	color: var(--clr-neutral-100);

	text-decoration: none;
	cursor: pointer;
}

.btn-link:is(:hover, :focus-visible) {
	background-color: var(--clr-blue-500);
}

.btn-link:focus-visible {
	outline: 2px solid var(--clr-blue-600);
	outline-offset: 1px;
}

.btn-link[data-type='danger'] {
	background-color: var(--clr-red-400);
}

.btn-link[data-type='danger']:is(:hover, :focus-visible) {
	background-color: var(--clr-red-500);
}

.btn-link[data-type='danger']:focus-visible {
	outline: 2px solid var(--clr-red-600);
	outline-offset: 1px;
}
