.popup-dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.8);
}

.popup-dialog {
	border: none;
	padding: 1rem;
	position: relative;
}

.popup-dialog__title {
	text-align: center;
	font-size: 1.25rem;
	color: var(--clr-neutral-700);
}

.popup-close-btn {
	position: absolute;
	right: 1rem;
	top: 1rem;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	color: var(--clr-red-400);
	font-weight: 700;
	font-size: 1.5rem;
}

.popup-close-btn:is(:hover, :focus-visible) {
	background-color: transparent;
	color: var(--clr-red-600);
}
