.data-table__delete-btn {
	border: none;
	background-color: transparent;
	color: var(--clr-red-400);
	font-size: 1rem;
	font-weight: 700;
	padding: 0;
	cursor: pointer;
}

.data-table__delete-btn:is(:focus-visible, :hover) {
	color: var(--clr-red-500);
}
